<!DOCTYPE html>
<html>

<head>
	<title>Edit page</title>
</head>

<body>

<div style="width:75%; margin: 0 auto;">
	<h1>Editing "{{page_name}}"</h1>
	<br>	

	<form method="post">
		<textarea rows="24" cols="80" name="content">{{markup_content}}</textarea>
		<br>

		<input type="submit" value="submit"/>
	</form>
</div>

</body>

</html>
